
target/
dbt_modules/
logs/
**/.DS_Store
.venv/
.user.yml
.gitignore
dbt_packages/dbt_utils/CHANGELOG.md
dbt_packages/dbt_utils/CONTRIBUTING.md
dbt_packages/dbt_utils/dbt_project.yml
dbt_packages/dbt_utils/dev-requirements.txt
dbt_packages/dbt_utils/docker-compose.yml
dbt_packages/dbt_utils/LICENSE
dbt_packages/dbt_utils/Makefile
dbt_packages/dbt_utils/pytest.ini
dbt_packages/dbt_utils/README.md
dbt_packages/dbt_utils/RELEASE.md
dbt_packages/dbt_utils/run_functional_test.sh
dbt_packages/dbt_utils/run_test.sh
dbt_packages/dbt_utils/.circleci/config.yml
dbt_packages/dbt_utils/.github/CODEOWNERS
dbt_packages/dbt_utils/.github/pull_request_template.md
dbt_packages/dbt_utils/.github/ISSUE_TEMPLATE/bug_report.md
dbt_packages/dbt_utils/.github/ISSUE_TEMPLATE/dbt_minor_release.md
dbt_packages/dbt_utils/.github/ISSUE_TEMPLATE/feature_request.md
dbt_packages/dbt_utils/.github/ISSUE_TEMPLATE/utils_minor_release.md
dbt_packages/dbt_utils/docs/decisions/adr-0000-documenting-architecture-decisions.md
dbt_packages/dbt_utils/docs/decisions/adr-0001-decision-record-format.md
dbt_packages/dbt_utils/docs/decisions/adr-0002-cross-database-utils.md
dbt_packages/dbt_utils/docs/decisions/README.md
dbt_packages/dbt_utils/etc/dbt-logo.png
dbt_packages/dbt_utils/integration_tests/dbt_project.yml
dbt_packages/dbt_utils/integration_tests/packages.yml
dbt_packages/dbt_utils/integration_tests/README.md
dbt_packages/dbt_utils/integration_tests/ci/sample.profiles.yml
dbt_packages/dbt_utils/integration_tests/data/.gitkeep
dbt_packages/dbt_utils/integration_tests/data/datetime/data_date_spine.csv
dbt_packages/dbt_utils/integration_tests/data/etc/data_people.csv
dbt_packages/dbt_utils/integration_tests/data/geo/data_haversine_km.csv
dbt_packages/dbt_utils/integration_tests/data/geo/data_haversine_mi.csv
dbt_packages/dbt_utils/integration_tests/data/schema_tests/data_cardinality_equality_a.csv
dbt_packages/dbt_utils/integration_tests/data/schema_tests/data_cardinality_equality_b.csv
dbt_packages/dbt_utils/integration_tests/data/schema_tests/data_not_null_proportion.csv
dbt_packages/dbt_utils/integration_tests/data/schema_tests/data_test_accepted_range.csv
dbt_packages/dbt_utils/integration_tests/data/schema_tests/data_test_at_least_one.csv
dbt_packages/dbt_utils/integration_tests/data/schema_tests/data_test_equal_rowcount.csv
dbt_packages/dbt_utils/integration_tests/data/schema_tests/data_test_expression_is_true.csv
dbt_packages/dbt_utils/integration_tests/data/schema_tests/data_test_fewer_rows_than_table_1.csv
dbt_packages/dbt_utils/integration_tests/data/schema_tests/data_test_fewer_rows_than_table_2.csv
dbt_packages/dbt_utils/integration_tests/data/schema_tests/data_test_mutually_exclusive_ranges_no_gaps.csv
dbt_packages/dbt_utils/integration_tests/data/schema_tests/data_test_mutually_exclusive_ranges_with_gaps_zero_length.csv
dbt_packages/dbt_utils/integration_tests/data/schema_tests/data_test_mutually_exclusive_ranges_with_gaps.csv
dbt_packages/dbt_utils/integration_tests/data/schema_tests/data_test_not_accepted_values.csv
dbt_packages/dbt_utils/integration_tests/data/schema_tests/data_test_not_constant.csv
dbt_packages/dbt_utils/integration_tests/data/schema_tests/data_test_relationships_where_table_1.csv
dbt_packages/dbt_utils/integration_tests/data/schema_tests/data_test_relationships_where_table_2.csv
dbt_packages/dbt_utils/integration_tests/data/schema_tests/data_test_sequential_timestamps.csv
dbt_packages/dbt_utils/integration_tests/data/schema_tests/data_test_sequential_values.csv
dbt_packages/dbt_utils/integration_tests/data/schema_tests/data_unique_combination_of_columns.csv
dbt_packages/dbt_utils/integration_tests/data/schema_tests/schema.yml
dbt_packages/dbt_utils/integration_tests/data/sql/data_deduplicate_expected.csv
dbt_packages/dbt_utils/integration_tests/data/sql/data_deduplicate.csv
dbt_packages/dbt_utils/integration_tests/data/sql/data_events_20180101.csv
dbt_packages/dbt_utils/integration_tests/data/sql/data_events_20180102.csv
dbt_packages/dbt_utils/integration_tests/data/sql/data_events_20180103.csv
dbt_packages/dbt_utils/integration_tests/data/sql/data_filtered_columns_in_relation_expected.csv
dbt_packages/dbt_utils/integration_tests/data/sql/data_filtered_columns_in_relation.csv
dbt_packages/dbt_utils/integration_tests/data/sql/data_generate_series.csv
dbt_packages/dbt_utils/integration_tests/data/sql/data_generate_surrogate_key.csv
dbt_packages/dbt_utils/integration_tests/data/sql/data_get_column_values_dropped.csv
dbt_packages/dbt_utils/integration_tests/data/sql/data_get_column_values_where_expected.csv
dbt_packages/dbt_utils/integration_tests/data/sql/data_get_column_values_where.csv
dbt_packages/dbt_utils/integration_tests/data/sql/data_get_column_values.csv
dbt_packages/dbt_utils/integration_tests/data/sql/data_get_query_results_as_dict.csv
dbt_packages/dbt_utils/integration_tests/data/sql/data_get_single_value.csv
dbt_packages/dbt_utils/integration_tests/data/sql/data_nullcheck_table.csv
dbt_packages/dbt_utils/integration_tests/data/sql/data_pivot_expected_apostrophe.csv
dbt_packages/dbt_utils/integration_tests/data/sql/data_pivot_expected.csv
dbt_packages/dbt_utils/integration_tests/data/sql/data_pivot.csv
dbt_packages/dbt_utils/integration_tests/data/sql/data_safe_add.csv
dbt_packages/dbt_utils/integration_tests/data/sql/data_safe_divide_denominator_expressions.csv
dbt_packages/dbt_utils/integration_tests/data/sql/data_safe_divide_numerator_expressions.csv
dbt_packages/dbt_utils/integration_tests/data/sql/data_safe_divide.csv
dbt_packages/dbt_utils/integration_tests/data/sql/data_star_aggregate_expected.csv
dbt_packages/dbt_utils/integration_tests/data/sql/data_star_aggregate.csv
dbt_packages/dbt_utils/integration_tests/data/sql/data_star_expected.csv
dbt_packages/dbt_utils/integration_tests/data/sql/data_star_prefix_suffix_expected.csv
dbt_packages/dbt_utils/integration_tests/data/sql/data_star_quote_identifiers.csv
dbt_packages/dbt_utils/integration_tests/data/sql/data_star.csv
dbt_packages/dbt_utils/integration_tests/data/sql/data_union_events_expected.csv
dbt_packages/dbt_utils/integration_tests/data/sql/data_union_exclude_expected.csv
dbt_packages/dbt_utils/integration_tests/data/sql/data_union_expected.csv
dbt_packages/dbt_utils/integration_tests/data/sql/data_union_table_1.csv
dbt_packages/dbt_utils/integration_tests/data/sql/data_union_table_2.csv
dbt_packages/dbt_utils/integration_tests/data/sql/data_unpivot_bool_expected.csv
dbt_packages/dbt_utils/integration_tests/data/sql/data_unpivot_bool.csv
dbt_packages/dbt_utils/integration_tests/data/sql/data_unpivot_expected.csv
dbt_packages/dbt_utils/integration_tests/data/sql/data_unpivot_original_api_expected.csv
dbt_packages/dbt_utils/integration_tests/data/sql/data_unpivot.csv
dbt_packages/dbt_utils/integration_tests/data/sql/data_width_bucket.csv
dbt_packages/dbt_utils/integration_tests/data/web/data_url_host.csv
dbt_packages/dbt_utils/integration_tests/data/web/data_url_path.csv
dbt_packages/dbt_utils/integration_tests/data/web/data_urls.csv
dbt_packages/dbt_utils/integration_tests/macros/.gitkeep
dbt_packages/dbt_utils/integration_tests/macros/assert_equal_values.sql
dbt_packages/dbt_utils/integration_tests/macros/limit_zero.sql
dbt_packages/dbt_utils/integration_tests/macros/tests.sql
dbt_packages/dbt_utils/integration_tests/models/datetime/schema.yml
dbt_packages/dbt_utils/integration_tests/models/datetime/test_date_spine.sql
dbt_packages/dbt_utils/integration_tests/models/generic_tests/recency_time_excluded.sql
dbt_packages/dbt_utils/integration_tests/models/generic_tests/recency_time_included.sql
dbt_packages/dbt_utils/integration_tests/models/generic_tests/schema.yml
dbt_packages/dbt_utils/integration_tests/models/generic_tests/test_equal_column_subset.sql
dbt_packages/dbt_utils/integration_tests/models/generic_tests/test_equal_rowcount.sql
dbt_packages/dbt_utils/integration_tests/models/generic_tests/test_fewer_rows_than.sql
dbt_packages/dbt_utils/integration_tests/models/geo/schema.yml
dbt_packages/dbt_utils/integration_tests/models/geo/test_haversine_distance_km.sql
dbt_packages/dbt_utils/integration_tests/models/geo/test_haversine_distance_mi.sql
dbt_packages/dbt_utils/integration_tests/models/sql/schema.yml
dbt_packages/dbt_utils/integration_tests/models/sql/test_deduplicate.sql
dbt_packages/dbt_utils/integration_tests/models/sql/test_generate_series.sql
dbt_packages/dbt_utils/integration_tests/models/sql/test_generate_surrogate_key.sql
dbt_packages/dbt_utils/integration_tests/models/sql/test_get_column_values_where.sql
dbt_packages/dbt_utils/integration_tests/models/sql/test_get_column_values.sql
dbt_packages/dbt_utils/integration_tests/models/sql/test_get_filtered_columns_in_relation.sql
dbt_packages/dbt_utils/integration_tests/models/sql/test_get_relations_by_pattern.sql
dbt_packages/dbt_utils/integration_tests/models/sql/test_get_relations_by_prefix_and_union.sql
dbt_packages/dbt_utils/integration_tests/models/sql/test_get_single_value_default.sql
dbt_packages/dbt_utils/integration_tests/models/sql/test_get_single_value.sql
dbt_packages/dbt_utils/integration_tests/models/sql/test_groupby.sql
dbt_packages/dbt_utils/integration_tests/models/sql/test_not_empty_string_failing.sql
dbt_packages/dbt_utils/integration_tests/models/sql/test_not_empty_string_passing.sql
dbt_packages/dbt_utils/integration_tests/models/sql/test_nullcheck_table.sql
dbt_packages/dbt_utils/integration_tests/models/sql/test_pivot_apostrophe.sql
dbt_packages/dbt_utils/integration_tests/models/sql/test_pivot.sql
dbt_packages/dbt_utils/integration_tests/models/sql/test_safe_add.sql
dbt_packages/dbt_utils/integration_tests/models/sql/test_safe_divide.sql
dbt_packages/dbt_utils/integration_tests/models/sql/test_star_aggregate.sql
dbt_packages/dbt_utils/integration_tests/models/sql/test_star_no_columns.sql
dbt_packages/dbt_utils/integration_tests/models/sql/test_star_prefix_suffix.sql
dbt_packages/dbt_utils/integration_tests/models/sql/test_star_quote_identifiers.sql
dbt_packages/dbt_utils/integration_tests/models/sql/test_star_uppercase.sql
dbt_packages/dbt_utils/integration_tests/models/sql/test_star.sql
dbt_packages/dbt_utils/integration_tests/models/sql/test_union_base.sql
dbt_packages/dbt_utils/integration_tests/models/sql/test_union_exclude_base_lowercase.sql
dbt_packages/dbt_utils/integration_tests/models/sql/test_union_exclude_base_uppercase.sql
dbt_packages/dbt_utils/integration_tests/models/sql/test_union_exclude_lowercase.sql
dbt_packages/dbt_utils/integration_tests/models/sql/test_union_exclude_uppercase.sql
dbt_packages/dbt_utils/integration_tests/models/sql/test_union_no_source_column.sql
dbt_packages/dbt_utils/integration_tests/models/sql/test_union_where_base.sql
dbt_packages/dbt_utils/integration_tests/models/sql/test_union_where.sql
dbt_packages/dbt_utils/integration_tests/models/sql/test_union.sql
dbt_packages/dbt_utils/integration_tests/models/sql/test_unpivot_bool.sql
dbt_packages/dbt_utils/integration_tests/models/sql/test_unpivot.sql
dbt_packages/dbt_utils/integration_tests/models/sql/test_width_bucket.sql
dbt_packages/dbt_utils/integration_tests/models/web/schema.yml
dbt_packages/dbt_utils/integration_tests/models/web/test_url_host.sql
dbt_packages/dbt_utils/integration_tests/models/web/test_url_path.sql
dbt_packages/dbt_utils/integration_tests/models/web/test_urls.sql
dbt_packages/dbt_utils/integration_tests/tests/assert_get_query_results_as_dict_objects_equal.sql
dbt_packages/dbt_utils/integration_tests/tests/generic/expect_table_columns_to_match_set.sql
dbt_packages/dbt_utils/integration_tests/tests/jinja_helpers/assert_pretty_output_msg_is_string.sql
dbt_packages/dbt_utils/integration_tests/tests/jinja_helpers/assert_pretty_time_is_string.sql
dbt_packages/dbt_utils/integration_tests/tests/jinja_helpers/test_slugify.sql
dbt_packages/dbt_utils/integration_tests/tests/sql/test_get_column_values_use_default.sql
dbt_packages/dbt_utils/integration_tests/tests/sql/test_get_single_value_multiple_rows.sql
dbt_packages/dbt_utils/macros/generic_tests/accepted_range.sql
dbt_packages/dbt_utils/macros/generic_tests/at_least_one.sql
dbt_packages/dbt_utils/macros/generic_tests/cardinality_equality.sql
dbt_packages/dbt_utils/macros/generic_tests/equal_rowcount.sql
dbt_packages/dbt_utils/macros/generic_tests/equality.sql
dbt_packages/dbt_utils/macros/generic_tests/expression_is_true.sql
dbt_packages/dbt_utils/macros/generic_tests/fewer_rows_than.sql
dbt_packages/dbt_utils/macros/generic_tests/mutually_exclusive_ranges.sql
dbt_packages/dbt_utils/macros/generic_tests/not_accepted_values.sql
dbt_packages/dbt_utils/macros/generic_tests/not_constant.sql
dbt_packages/dbt_utils/macros/generic_tests/not_empty_string.sql
dbt_packages/dbt_utils/macros/generic_tests/not_null_proportion.sql
dbt_packages/dbt_utils/macros/generic_tests/recency.sql
dbt_packages/dbt_utils/macros/generic_tests/relationships_where.sql
dbt_packages/dbt_utils/macros/generic_tests/sequential_values.sql
dbt_packages/dbt_utils/macros/generic_tests/unique_combination_of_columns.sql
dbt_packages/dbt_utils/macros/jinja_helpers/_is_ephemeral.sql
dbt_packages/dbt_utils/macros/jinja_helpers/_is_relation.sql
dbt_packages/dbt_utils/macros/jinja_helpers/log_info.sql
dbt_packages/dbt_utils/macros/jinja_helpers/pretty_log_format.sql
dbt_packages/dbt_utils/macros/jinja_helpers/pretty_time.sql
dbt_packages/dbt_utils/macros/jinja_helpers/slugify.sql
dbt_packages/dbt_utils/macros/sql/date_spine.sql
dbt_packages/dbt_utils/macros/sql/deduplicate.sql
dbt_packages/dbt_utils/macros/sql/generate_series.sql
dbt_packages/dbt_utils/macros/sql/generate_surrogate_key.sql
dbt_packages/dbt_utils/macros/sql/get_column_values.sql
dbt_packages/dbt_utils/macros/sql/get_filtered_columns_in_relation.sql
dbt_packages/dbt_utils/macros/sql/get_query_results_as_dict.sql
dbt_packages/dbt_utils/macros/sql/get_relations_by_pattern.sql
dbt_packages/dbt_utils/macros/sql/get_relations_by_prefix.sql
dbt_packages/dbt_utils/macros/sql/get_single_value.sql
dbt_packages/dbt_utils/macros/sql/get_table_types_sql.sql
dbt_packages/dbt_utils/macros/sql/get_tables_by_pattern_sql.sql
dbt_packages/dbt_utils/macros/sql/get_tables_by_prefix_sql.sql
dbt_packages/dbt_utils/macros/sql/groupby.sql
dbt_packages/dbt_utils/macros/sql/haversine_distance.sql
dbt_packages/dbt_utils/macros/sql/nullcheck_table.sql
dbt_packages/dbt_utils/macros/sql/nullcheck.sql
dbt_packages/dbt_utils/macros/sql/pivot.sql
dbt_packages/dbt_utils/macros/sql/safe_add.sql
dbt_packages/dbt_utils/macros/sql/safe_divide.sql
dbt_packages/dbt_utils/macros/sql/star.sql
dbt_packages/dbt_utils/macros/sql/surrogate_key.sql
dbt_packages/dbt_utils/macros/sql/union.sql
dbt_packages/dbt_utils/macros/sql/unpivot.sql
dbt_packages/dbt_utils/macros/sql/width_bucket.sql
dbt_packages/dbt_utils/macros/web/get_url_host.sql
dbt_packages/dbt_utils/macros/web/get_url_parameter.sql
dbt_packages/dbt_utils/macros/web/get_url_path.sql
dbt_packages/dbt_utils/tests/__init__.py
dbt_packages/dbt_utils/tests/conftest.py
